<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" href="assets/css/burger_style.css" type="text/css" />
	<title>Burger Menu</title>
</head>

<body>
	<img src="" width="400px" id="">

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer">
			<div class="container">
				<a class="grey-text text-lighten-4 right" href="https://github.com/sniemeyer1?tab=repositories">Savannah Niemeyer</a>
			</div>
		</div>
	</footer>
</body>
</html>