body {
    background-color: #FFA61A;
    font-family: Helvetica, sans-serif
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 48px;
    padding: 5px;
    margin: auto;
    padding-top: 10px;
}

h2 {
    font-family: 'Crete Round', serif;
    font-size: 24px;
    padding: 5px;
    margin: auto;
    padding-top: 10px;
}

nav {
    background-color: red;
}

.btn {
    background-color: red;
}

#devourButton {
    padding-bottom: 5px;
    font-family: 'Luckiest Guy', cursive;

}
